.center {
    text-align: center;
    
}

.center-page {
    width: 300px;
    height: 300px;
    position: absolute;
    top: -100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
}

.footer-pos {
    width: auto;
    height: auto;
    position: absolute;
    top: 700px;
    bottom: 0;
    left: 0;
    right: 0;

}
