
.bgCustom {
    background-color: #1c1c1c;
}

.menu {
    font-family: radioSpace;
    border: 2px solid #222222;
    height:50px;

}



.brandName {
    font-family: radioSpace;
    font-size: 20px;
    color: #faf006;
}

@font-face {
    font-family: radioSpace;
    src: url(/assets/fonts/RadioSpace.woff);
}

.activemenu {
    border-bottom-color: #faf006;
}

.hrlinelanding {
    border-top: 2px solid #faf006;
    margin-left: 300px;
    margin-right: 300px;
    
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.2);
    padding: 20px;

    margin-bottom:100px;
}
    .card:hover .catname{
        transition: 0.5s;
        color: #faf006;
    }
    .card:hover {
        box-shadow: 0px 8px 0 0 #faf006;
    }

.catname {
    font-family: radioSpace;
    font-size: 25px;
    color: #808080;
}


#btnCB {
    width: 250px;
    background-color: #161616;
    border-radius: 5px;
    border-width: 2.5px;
    color: #19aebb;
    font-weight: bold;
    font-family: radioSpace;
    font-size: 20px;
    border-color: #19aebb;
}

    #btnCB:hover {
        transition: 0.5s;
        box-shadow: #19aebb 300px 0px 0px 0px inset;
        color: #161616;
        font-weight: bold;
    }

#btnvm1 {
    width: 250px;
    background-color: #161616;
    border-radius: 5px;
    border-width: 2.5px;
    color: #19aebb;
    font-weight: bold;
    font-family: radioSpace;
    font-size: 20px;
    border-color: #19aebb;
}

    #btnvm1:hover {
        transition: 0.5s;
        box-shadow: #19aebb 300px 0px 0px 0px inset;
        color: #161616;
        font-weight: bold;
    }

#btnvm2 {
    width: 250px;
    background-color: #161616;
    border-radius: 5px;
    border-width: 2.5px;
    color: #19aebb;
    font-weight: bold;
    font-family: radioSpace;
    font-size: 20px;
    border-color: #19aebb;
}

    #btnvm2:hover {
        transition: 0.5s;
        box-shadow: #19aebb 300px 0px 0px 0px inset;
        color: #161616;
        font-weight: bold;
    }

#btnvm3 {
    width: 250px;
    background-color: #161616;
    border-radius: 5px;
    border-width: 2.5px;
    color: #19aebb;
    font-weight: bold;
    font-family: radioSpace;
    font-size: 20px;
    border-color: #19aebb;
}

    #btnvm3:hover {
        transition: 0.5s;
        box-shadow: #19aebb 300px 0px 0px 0px inset;
        color: #161616;
        font-weight: bold;
    }

.shopnow {
    color: #808080;
    font-weight: bold;
    font-family: radioSpace;
    font-size: 40px;
    margin-left: 190px;
    margin-top:50px;
}
.footer-pos {
    width: auto;
    height: auto;
    position: absolute;
    top: 1200px;
    bottom: 20px;
    left: 0;
    right: 0;
    color: #808080;
    margin-bottom: 50px;
    margin-left: 50px;
    font-family:radioSpace;
}