@font-face {
    font-family: radioSpace;
    src: url(/assets/fonts/RadioSpace.woff);
}



.helloUser{
    color:#808080;
    font-family:radioSpace;
    font-size:20px;

}

.hrlineuser {
    border-top: 2px solid #faf006 ;
    margin-left: 10px;
    margin-right: 1335px;
    margin-top: 0px;
}
.menu {
    font-family: radioSpace;
    border: 2px solid #222222;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 50px;
}